*{
  font-family: 'Operator Mono Lig', sans-serif;
  background: rgb(182, 182, 182);
}

.App {
  text-align: center;

}

button{
  width: 200px;
  height: 100px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: crimson;
  border: 4px solid white;
  border-radius: 10px;
  font-size: 2em;
  font-family: 'Operator Mono Lig', sans-serif;
}

button:hover{
  background: white;
  cursor: pointer;
  border: 4px solid crimson;
  transform: scale(1.1);
}

h1{
  text-align: center;
  font-size: 2em;
  font-family: 'Operator Mono Lig', sans-serif;

}

h6{
  text-align: center;
  font-family: 'Operator Mono Lig', sans-serif;
}
